<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Iniziale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/style.css') }}">
    <!-- Aggiunta di AOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
    <link rel = "stylesheet" href="{{ url_for('static', filename='Styles/toggle.css') }}">
    <script src="{{ url_for('static', filename='Scripts/toggle.js') }}"></script>
</head>
<body class="light">
    <div class="theme-switch-wrapper">
        <label class="theme-switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </label>
    </div>
    <h1>IDP con Oauth e 2FA</h1>
    <h2>Selezioni una delle seguenti opzioni:</h2>
    <div class="button-container">
        <a href="{{ url_for('registrazione') }}" class="button">Registrati</a>
        <a href="{{ url_for('login') }}" class="button">Accedi</a>
    </div>
    <br>
    <div>
        <h1>Chi siamo</h1>
    </div>
    <div class="photo-container">
        <div data-aos="fade-up">
            <img src="{{ url_for('static', filename='Images/photo1.jpg') }}" alt="Foto 1">
            <p>Rocco</p>
        </div>
        <div data-aos="fade-up" data-aos-delay="100">
            <img src="{{ url_for('static', filename='Images/photo2.jpg') }}" alt="Foto 2">
            <p>Peppe</p>
        </div>
        <div data-aos="fade-up" data-aos-delay="200">
            <img src="{{ url_for('static', filename='Images/photo3.jpg') }}" alt="Foto 3">
            <p>Alessandro</p>
        </div>
        <div data-aos="fade-up" data-aos-delay="300">
            <img src="{{ url_for('static', filename='Images/photo4.jpg') }}" alt="Foto 4">
            <p>Nicholas</p>
        </div>
    </div>

    <!-- Inizializza AOS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
