<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Styles/style.css')}}">
</head>
<body>
<h1>Accedi</h1>
<section class="form-section">
    <form action="/login" method="POST">
        <label>Nome:
            <input type="text" name="username" required />
        </label>
        <br>
        <label>Password:
            <input type="password" name="password" required />
        </label>
        <br>
    </form>
    <hr>
    <a href="da mettere in seguito per reindirizzamento oauth" class="button oauth-button">Accedi</a>
</section>
<p>Non hai un account? <a href="./Vista/register.html">Registrati</a></p>
</body>
</html>
