<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recupero avvenuto con successo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/style.css') }}">
</head>
<body>
<button class="theme-toggle" id="theme-toggle">Switch Theme</button>
    <h1>Theme Switcher</h1>

    <script>
        const body = document.body;
        const themeToggle = document.getElementById('theme-toggle');

        // Cambia tema al clic del pulsante
        themeToggle.addEventListener('click', () => {
            body.classList.toggle('dark');
            themeToggle.textContent = body.classList.contains('dark')
                ? 'Switch to Light Theme'
                : 'Switch to Dark Theme';
        });
    </script>
<h1>Puoi eseguire di nuovo il login </h1>
<div class="button-container">
    <a href="{{ url_for('mainpage') }}" class="button">Vai alla Home</a>
    <a href="{{ url_for('login') }}" class="button">Accedi</a>
</div>
</body>
</html>