<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Styles/style.css')}}">
</head>
<body>
<h1>Registrati con noi</h1>
<section class="form-section">
    <form action="/register" method="POST">
        <label>
            <input type="text" name="email" required />
        </label>
        <label>Nome:
            <input type="text" name="username" required />
        </label>
        <br>
        <label>Password:
            <input type="password" name="password" required />
        </label>
        <br>
    </form>
    <a href="da mettere in seguito per reindirizzamento oauth" class="button oauth-button">Registrati</a>
</section>
<p>Hai già un account? <a href="login.html">Accedi</a></p>
</body>
</html>
