<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Code</title>
     <link rel="stylesheet" href="{{ url_for('static',filename='Styles/style.css')}}">
</head>
<body>
<button class="theme-toggle" id="theme-toggle">Switch Theme</button>
    <h1>Theme Switcher</h1>

    <script>
        const body = document.body;
        const themeToggle = document.getElementById('theme-toggle');

        // Cambia tema al clic del pulsante
        themeToggle.addEventListener('click', () => {
            body.classList.toggle('dark');
            themeToggle.textContent = body.classList.contains('dark')
                ? 'Switch to Light Theme'
                : 'Switch to Dark Theme';
        });
    </script>
<h1>Scansiona il QR Code per configurare il TOTP</h1>
<img src="data:image/png;base64,{{ qr_code_img }}" alt="QR Code">
<form action="/verify_totp" method="POST">
    <input type="hidden" name="username" value="{{ username }}">
    <h2>Inserisci il codice di verifica:</h2>
    <input type="text" id="code" name="code" maxlength="6" required>
    <input type="submit" value="Verifica">
</form>
</body>
</html>