<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Code</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/show_qr_code.css') }}">
</head>
<body class="light">
<header>
    <div class="logo">CALM-IDP</div>
    <button id="theme-toggle" aria-label="Cambia tema">
        <i class="fas fa-moon"></i>
    </button>
</header>
<h1>Scansiona il QR Code per configurare il TOTP</h1>
<img src="data:image/png;base64,{{ qr_code_img }}" alt="QR Code">
<form action="/verify_totp" method="POST">
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <input type="hidden" name="username" value="{{ username }}">
    <h2>Inserisci il codice di verifica:</h2>
    <input type="text" id="code" name="code" maxlength="6" required>
    <input type="submit" value="Verifica">
</form>
<!-- Script Tema -->
<script>
    const themeToggleBtn = document.getElementById('theme-toggle');
    const body = document.body;
    const icon = themeToggleBtn.querySelector('i');

    // Carica il tema salvato
    const currentTheme = localStorage.getItem('theme') || 'light';
    body.classList.add(currentTheme);
    updateIcon(currentTheme);

    // Cambia tema
    themeToggleBtn.addEventListener('click', () => {
        const newTheme = body.classList.contains('light') ? 'dark' : 'light';
        body.classList.replace(body.classList[0], newTheme);
        localStorage.setItem('theme', newTheme);
        updateIcon(newTheme);
    });

    // Aggiorna icona
    function updateIcon(theme) {
        icon.className = theme === 'dark' ? 'fas fa-sun' : 'fas fa-moon';
    }
</script>
</body>
</html>