<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Token</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Styles/style.css')}}" type="text/css"/>
</head>
<body>
<button class="theme-toggle" id="theme-toggle">S</button>
    <script>
        const body = document.body;
        const themeToggle = document.getElementById('theme-toggle');

        // Cambia tema al clic del pulsante
        themeToggle.addEventListener('click', () => {
            body.classList.toggle('dark');
            themeToggle.textContent = body.classList.contains('dark')
                ? 'Switch to Light Theme'
                : 'Switch to Dark Theme';
        });
    </script>
<h1> Seleziona il metodo di autenticazione</h1>
<div>
    <form method="POST" action="/otp_code/{{ iid }}" id = "form_2fa">
        <input type="hidden" name="iid" value="{{ iid }}">
        <select name="2FA_chose" id="select_method">
            <option value="TOTP">TOTP</option>
            <option value="EMAIL">EMAIL</option>
        </select>
        <input type="button" name="change_route" id="change_route" placeholder="cambia metodo"/>
        <p>Inserire il codice di verifica</p>
        <input type="text" name="code" maxlength="6">
        <input type="submit" value="INVIA">
    </form>
</div>
<div>
    <a href="{{ url_for('inserimento', iid = iid) }}">Recupera qui la tua chiave TOTP</a>
</div>
<script>
    let totp = "/otp_code/{{ iid }}"
    let email= "/send_email/{{ iid }}"
    let form= document.getElementById('form_2fa')
    let button=document.getElementById('change_route')
    button.addEventListener('click',()=>{
        let select = document.getElementById('select_method')
        if (select.value === 'TOTP'){
            form.action=totp
        }
        else{
            form.action=email
            fetch(form.action,{
                method: 'POST'
            }).then((r) => {console.log(r)})

        }
        console.log(form.action)
    })

    let code = document.body.querySelector('input[name="code"]').value
    let submit = document.body.querySelector('input[type="submit"]')
    submit.addEventListener('click',(e)=>{
        e.preventDefault()

        fetch(`/step_finale_email/{{ cod_gen }}/${code}`,{
        method: 'POST'
    }).then((r) => {console.log(r)})
    })


</script>
</body>
</html>