<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Token</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Styles/style.css')}}" type="text/css"/>
</head>
<body>
<h1> Seleziona il metodo di autenticazione</h1>
<div>
    <form method="POST" action="/otp_code/{{ iid }}">
        <input type="hidden" name="iid" value="{{ iid }}">
        <select name="2FA_chose">
            <option value="TOTP">TOTP</option>
            <option value="EMAIL">EMAIL</option>
        </select>
        <p>Inserire il codice di verifica</p>
        <input type="text" name="code" maxlength="6">
        <input type="submit" value="INVIA">
    </form>
</div>
<div>
    <a href="{{ url_for('inserimento', iid = iid) }}">Recupera qui la tua chiave TOTP</a>
</div>
</body>
</html>