<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codice verifica email</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='Styles/style.css')}}" type="text/css" />
</head>
<body>
<h2>
    Controlla la tua mail
</h2>
<form action="{{ url_for('step_finale_email', iid=iid) }}" method="POST">
    <label for="code_totp/email">
        Inserire il codice di verifica
        <input type="text" name="code" maxlength="6" id="code_totp/email">

    </label>
        <input type="submit" value="INVIA">
</form>
</body>
</html>