<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codice verifica totp</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/style.css') }}">
    <link rel = "stylesheet" href="{{ url_for('static', filename='Styles/toggle.css') }}">
    <script src="{{ url_for('static', filename='Scripts/toggle.js') }}"></script>
</head>
<body class="light">
    <div class="theme-switch-wrapper">
        <label class="theme-switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </label>
    </div>

<form action="{{ url_for('step_finale_totp', iid=iid) }}" method="POST">
    {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        Inserire il codice di verifica
        <input type="text" name="code" maxlength="6">
        <input type="submit" value="INVIA">
</form>
<div>
    <a href="{{ url_for('inserimento', iid = iid) }}">Recupera qui la tua chiave TOTP</a>
</div>
</body>
</html>